@font-face {
    font-family: vcr_osd_mono;
    src: url("./../assets/fonts/VCR_OSD_MONO.ttf");
}

#gamecards {
    font-size: 36px;
    color: #9955ff;
}

#card_soundspace {
    border: 5px;
    border-color: #9955ff;
    border-style: solid;
    width: 500px;
}
#card_blockate {
    border: 5px;
    border-color: #9955ff;
    border-style: solid;
    width: 500px;
}
#card_mealmania {
    border: 5px;
    border-color: #9955ff;
    border-style: solid;
    width: 500px;
}
