#gamecards {
    font-size: 36px;
}

#card_soundspace {
    border: 5px;
    border-color: #9955ff;
    border-style: solid;
    width: 500px;
}
#card_blockate {
    border: 5px;
    border-color: #9955ff;
    border-style: solid;
    width: 500px;
}
#card_mealmania {
    border: 5px;
    border-color: #9955ff;
    border-style: solid;
    width: 500px;
}