@font-face {
    font-family: vcr_osd_mono;
    src: url("./../assets/fonts/VCR_OSD_MONO.ttf");
}

#gamecards {
    font-size: 36px;
    color: #9955ff;
}

/*#card_soundspace {
    border: 5px;
    border-color: #9955ff;
    border-style: solid;
}
#card_blockate {
    border: 5px;
    border-color: #9955ff;
    border-style: solid;
}
#card_mealmania {
    border: 5px;
    border-color: #9955ff;
    border-style: solid;
}
#card_thehallway {
    border: 5px;
    border-color: #9955ff;
    border-style: solid;
}
#card_8flights {
    border: 5px;
    border-color: #9955ff;
    border-style: solid;
}*/
.card {
    width: 500px;
    height: 485px;
    border: 5px;
    border-color: #9955ff;
    border-style: solid;
}
