@font-face {
    font-family: 'Perfect DOS VGA 437';
    src: url('/assets/fonts/Perfect DOS VGA 437.ttf') format('truetype'),
    url("/assets/fonts/Perfect DOS VGA 437.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VCR OSD Mono';
    src: url("/assets/fonts/VCR_OSD_MONO.ttf") format('truetype'),
    url("/assets/fonts/VCR_OSD_MONO.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'monsterrat';
    src: url("/assets/fonts/monsterrat.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'VCR OSD Mono';
    color: #9955ff
}
h2 {
    font-family: 'Perfect DOS VGA 437';
    color: #9955ff
}
h3 {
    font-family: 'Perfect DOS VGA 437';
    color: #9955ff
}
h4 {
    font-family: 'Perfect DOS VGA 437';
    color: #9955ff
}
p {
    font-family: 'monsterrat';
    color: white
}

button {
    background-color: #9955FF;
    border: #0000FF;
    color: white;
    padding: 17px 60px;
    font-size: 13px;
    text-align: center;
    transition: 0.3s;
}
button:hover {
    background-color: #6633DD;
    border: #0000DD;
    transition: 0.7s;
}

.header {
    font-size: 20px;
}
