@font-face {
    font-family: 'Perfect DOS VGA 437';
    src: url('/assets/fonts/Perfect DOS VGA 437.ttf') format('truetype'),
    url("/assets/fonts/Perfect DOS VGA 437.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
h1 {
  font-family: 'Perfect DOS VGA 437';
}
button {
  font-family: 'Perfect DOS VGA 437';
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  vertical-align: text-top;
}
