.header {
    position: absolute;
    /*top: 50%;*/
    left: 50%;
    margin-top: 10px;
    margin-left: 0px;
    width: 100px;
    height: 100px;
}

.title {
    color: #9955ff;
    font-family: 'Perfect DOS VGA 437';
    margin: 10px -125px;
    font-size: 50px;
}

.body {
    background-color: black;
}

#download {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 10px;
    margin-left: 0px;
    width: 100px;
    height: 100px;
    align-items: center;
}

.buttons {
    background-color: #9955FF;
    border: #0000FF;
    color: white;
    /*padding: 1.5em 2.5em;*/
    text-align: center;
}

#downloadtext {
    position: absolute;
    top: 20%;
    left: 30%;
    margin-top: 0px;
    margin-left: 0px;
    width: 1000px;
    height: 100px;
}
​